{
    "version": "2.0.0",
    "tasks": [
      {
        "label": "Generate Xcode Project with XcodeGen",
        "type": "shell",
        "command": "sh",
        "args": [
          "${workspaceFolder}/scripts/generate.sh"
        ],
        "problemMatcher": [],
        "group": {
          "kind": "build",
          "isDefault": true
        }
      },
      {
        "label": "Build Swift Project",
        "type": "shell",
        "command": "xcodebuild",
        "args": [
          "-project",
          "${input:xcodeproj}",
          "-scheme",
          "${input:scheme}",
          "-configuration",
          "Debug",
          "clean",
          "build"
        ],
        "problemMatcher": [
          "$xcodebuild"
        ],
        "group": {
          "kind": "build",
          "isDefault": true
        }
      },
      {
        "label": "Run SwiftLint",
        "type": "shell",
        "command": "swiftlint",
        "args": [],
        "problemMatcher": [
          "$swiftlint"
        ],
        "group": "build"
      },
      {
        "label": "Run with Simulator",
        "type": "shell",
        "command": "sh",
        "args": [
          "${workspaceFolder}/scripts/run_simulator.sh"
        ],
        "problemMatcher": [],
        "dependsOn": "Build Swift Project",
        "group": "build"
      },
      {
        "label": "Start Inject Hot Reload Server",
        "type": "shell",
        "command": "inject",
        "args": [],
        "problemMatcher": [],
        "group": "none"
      },
      {
        "label": "Start Xcode Build Server",
        "type": "shell",
        "command": "sh",
        "args": [
          "${workspaceFolder}/scripts/start_build_server.sh"
        ],
        "problemMatcher": [],
        "group": "none"
      }
    ],
    "inputs": [
      {
        "id": "xcodeproj",
        "type": "pickString",
        "description": "Select the Xcode project file",
        "options": [
          "{{PROJECT_NAME}}.xcodeproj"
        ],
        "default": "{{PROJECT_NAME}}.xcodeproj"
      },
      {
        "id": "scheme",
        "type": "pickString",
        "description": "Select the scheme to build",
        "options": [
          "{{PROJECT_NAME}}"
        ],
        "default": "{{PROJECT_NAME}}"
      }
    ]
  }
  