name: {{PROJECT_NAME}}
options:
  bundleIdPrefix: {{BUNDLE_ID_PREFIX}}
  deploymentTarget:
    iOS: {{DEPLOYMENT_TARGET}}
  xcodeVersion: "{{XCODE_VERSION}}"
  generateEmptyDirectories: true
  createIntermediateGroups: true

targets:
  {{PROJECT_NAME}}:
    type: application
    platform: iOS
    sources: [{{PROJECT_NAME}}]
    settings:
      base:
        SWIFT_VERSION: {{SWIFT_VERSION}}
        ENABLE_TESTABILITY: YES
    dependencies:
      - package: Inject
        product: Inject
    info:
      path: {{PROJECT_NAME}}/Info.plist
      properties:
        CFBundleShortVersionString: "{{APP_VERSION}}"
        CFBundleVersion: "{{BUILD_NUMBER}}"
        UILaunchStoryboardName: LaunchScreen
        UIApplicationSceneManifest:
          UIApplicationSupportsMultipleScenes: true

packages:
  Inject:
    url: https://github.com/krzysztofzablocki/Inject.git
    from: "1.2.0"

schemes:
  {{PROJECT_NAME}}:
    build:
      targets:
        {{PROJECT_NAME}}: all
    run:
      config: Debug

configs:
  Debug: debug
  Release: release
